<%= form_with(model: curriculum, local: true) do |form| %>
  <% if curriculum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(curriculum.errors.count, "error") %> prohibited this curriculum from being saved:</h2>

      <ul>
        <% curriculum.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :math %>
    <%= form.number_field :math %>
  </div>

  <div class="field">
    <%= form.label :english %>
    <%= form.number_field :english %>
  </div>

  <div class="field">
    <%= form.label :science %>
    <%= form.number_field :science %>
  </div>

  <div class="field">
    <%= form.label :total_score %>
    <%= form.number_field :total_score %>
  </div>

  <div class="field">
    <%= form.label :average_score %>
    <%= form.number_field :average_score %>
  </div>

  <div class="field">
    <%= form.label :grade %>
    <%= form.select :grade, Curriculum.grades.keys, include_blank: "選択して下さい" %>
  </div>

  <div class="field">
    <%= form.label :remarks %>
    <%= form.text_field :remarks %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
$(function() {
  $('#curriculum_math').on('input', function(e) {
    math = Number($('#curriculum_math').val());
    total_score_calculate()
    average_score_calculate()
  });
  $('#curriculum_english').on('input', function(e) {
    english = Number($('#curriculum_english').val());
    total_score_calculate()
    average_score_calculate()
  });
  $('#curriculum_science').on('input', function(e) {
    science = Number($('#curriculum_science').val());
    total_score_calculate()
    average_score_calculate()
  });
  function total_score_calculate() {
    if ((math >= 1 && math <= 100) && (english >= 1 && english <= 100) && (science >= 1 && science <= 100 )) {
      total_score = math + english + science;
      console.log(total_score);
      $('#curriculum_total_score').val(total_score);
      return
    }
  };
  function average_score_calculate() {
    if ((math >= 1 && math <= 100) && (english >= 1 && english <= 100) && (science >= 1 && science <= 100 )) {
      average_score = ((math + english + science) / 3).toFixed(1);
      console.log(average_score);
      $('#curriculum_average_score').val(average_score);
      return
    }
  };
});
</script>