<p id="notice"><%= notice %></p>

<h1>Curriculums</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Math</th>
      <th>English</th>
      <th>Science</th>
      <th>Total score</th>
      <th>Average score</th>
      <th>Grade</th>
      <th>Remarks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @curriculums.each do |curriculum| %>
      <tr>
        <td><%= curriculum.student.name %></td>
        <td><%= curriculum.math %></td>
        <td><%= curriculum.english %></td>
        <td><%= curriculum.science %></td>
        <td><%= curriculum.total_score %></td>
        <td><%= curriculum.average_score %></td>
        <td data-value="#{<%= curriculum.grade %>}"><%= content_tag :span, curriculum.grade, class: "grade", "data-grade" => curriculum.grade %></td>
        <td><%= curriculum.remarks %></td>
        <td><%= link_to 'Show', curriculum %></td>
        <td><%= link_to 'Edit', edit_curriculum_path(curriculum) %></td>
        <td><%= link_to 'Destroy', curriculum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Curriculum', new_curriculum_path %>
<%= link_to 'New Student', new_student_path %>
<br>
<%= link_to 'Students', students_path %>
<%= link_to "ranking_average_score", average_ranking_curriculums_path, id: "ranking_average_score"%>

<script>
  $(function() {
    // 成績のランク毎にcssを当てて色分けする
    $('.grade').each(function() {
      grade = $(this).data('grade');
      switch (grade) {
        case "A": color="orange"; break;
        case "B": color="green"; break;
        case "C": color="blue"; break;
        case "D": color="red"; break;
        default : color=""; break;
      };
      console.log(color)
      $(this).css('color', color)
    });
    // 平均点ランキングを新規ウィンドウで開く
    $('#ranking_average_score').on('click', function() {
      window.open(this.href, 'ranking', 'width=375 height=812');
      return false;
    });
  });
</script>