<p id="notice"><%= notice %></p>

<h1>Target Scores</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Math</th>
      <th>English</th>
      <th>Science</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @target_scores.each do |target_score| %>
      <tr>
        <td><%= target_score.student.name %></td>
        <td><%= target_score.math %></td>
        <td><%= target_score.english %></td>
        <td><%= target_score.science %></td>
        <td><%= link_to 'Show', target_score %></td>
        <td><%= link_to 'Edit', edit_target_score_path(target_score) %></td>
        <td><%= link_to 'Destroy', target_score, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Target_score', new_target_score_path %>

<br>
<%= link_to 'Students', students_path %> |
<%= link_to 'Curriculums', curriculums_path %> |
